:root {
    --uinator-size-01: 4px;
    --uinator-size-02: 8px;
    --uinator-size-03: 12px;
    --uinator-size-04: 16px;
    --uinator-size-05: 24px;
    --uinator-size-06: 32px;
    --uinator-size-07: 40px;
    --uinator-size-08: 48px;
    --uinator-size-09: 56px;
    --uinator-size-10: 64px;
  }