.text-input {
    height: 48px;
    min-width: 200px;
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
}